@tailwind base;
@tailwind components;
@tailwind utilities;

.move-left-enter-active,
.move-left-leave-active {
  transition: transform 0.125s ease-in;
}

.move-left-enter-from,
.move-left-leave-to {
  transform: scale(95%);
}

.move-right-enter-active,
.move-right-leave-active {
  transition:
    transform 0.125s ease,
    opacity 0.125s ease-in;
}

.move-right-enter-from,
.move-right-leave-to {
  transform: scale(95%);
}

@font-face {
  /* font-family: "7 Segment"; */
  /* src: url("/7segment.woff") format("woff")  */
}

.number {
  /* font-family: "7 Segment"; */
  text-transform: uppercase;
}

@font-face {
  font-family: 'Manrope';
  src: url('/Manrope-VariableFont_wght.ttf') format('truetype');
}
